@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Whisper&display=swap');

.header{
    background-color:cornflowerblue;
    color: #1D201F;
    width: 80%;
    height: 13vh;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);     
    align-items: center;
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    z-index: 999;
    position: fixed;
    top: 0;
    font-family: "Pixelify Sans";
    padding: 0 10%; 
}

.header h1{
    margin-left: 10%;
}

.header .menu a{
    text-decoration: none;
    margin: 15px;
    font-size: larger;
    color: #1D201F;
}

.header img{
    position: fixed;
    top: 10;
    left: 10%;
    height: 10vh;
}

.title-container {
    flex-grow: 1; 
  }